{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>Thanks for using FoodByte! Let's get eating :)</h2>
      </div>

<hr>

      <div align="center">
        <h4>This is the information we have for you:</h4> <!-- {{notes}} = is passed in variable-->
        <ul style="list-style-type:none">
         <li>Name: {{name}}</li>
         <li>Username: {{username}}</li>
         <li>Password: {{password}}</li>
         <li>Gender: {{gender}}</li>
         <li>Budget: {{budget}}</li>
         <li>Current target calories: {{calories}}</li>
         <li>Average calories burned per day: {{avg_cals_burned}}</li>
         <li>Location: {{location}}</li>
        </ul>
      </div>

<hr>



<div align="center"
    <p><a href="/new"><button type="submit" class="btn btn-primary">Return home</button></p></a>
</div>


{% endblock %}
